version: '3.8'

services:
  # PostgreSQL
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U order_user -d order_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - order_network

  # Миграции alembic
  migrations:
    build: .
    command: alembic upgrade head
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy   # ждёт, пока postgres станет healthy
    networks:
      - order_network

  # Redis
  redis:
    image: redis:7-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - order_network

  kafka:
    image: docker.redpanda.com/redpandadata/redpanda:v23.3.5
    command:
      - redpanda
      - start
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --overprovisioned
      - --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:${KAFKA_INTERNAL_PORT},OUTSIDE://0.0.0.0:${KAFKA_EXTERNAL_PORT}
      - --advertise-kafka-addr PLAINTEXT://kafka:${KAFKA_INTERNAL_PORT},OUTSIDE://localhost:${KAFKA_EXTERNAL_PORT}
      - --set redpanda.enable_transactions=true
      - --set redpanda.enable_idempotence=true
    ports:
      - "${KAFKA_INTERNAL_PORT}:9092"  # Внутренний порт для контейнеров
      - "${KAFKA_EXTERNAL_PORT}:9093"  # Внешний порт для локальной разработки
    volumes:
      - kafka_data:/var/lib/redpanda/data
    healthcheck:
      test: [ "CMD", "rpk", "cluster", "info", "--brokers", "localhost:9092" ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s
    networks:
      - order_network

  # Kafka UI для визуализации (опционально)
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "${KAFKA_UI_PORT}:8080"
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:${KAFKA_INTERNAL_PORT}"
    depends_on:
      - kafka
    networks:
      - order_network

  api:
    build: .
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - kafka
      - redis
      - postgres
      - migrations
    networks:
      - order_network


  celery_worker:
    build: .
    command: python -m celery -A src.tasks.celery_task worker --loglevel=info -P solo
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    depends_on:
      - consumer
    networks:
      - order_network

  consumer:
    build: .
    command: python -m src.consumer.consumer
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    depends_on:
      - kafka
    networks:
      - order_network

volumes:
  postgres_data:
  redis_data:
  kafka_data:
  rabbitmq_data:

networks:
  order_network:
    driver: bridge